<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mudar Senha - Calcule Fácil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <div class="container">
        <div class="password-container">
            <form class="password-form" onsubmit="changePassword(event)">
                <h2 class="text-center">Mudar Senha</h2>
                <div class="form-group">
                    <label for="name">Nome Completo</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Seu Nome" required>
                </div>
                <div class="form-group">
                    <label for="new-email" style="margin-top: 0.5rem;">Email</label>
                    <input type="email" id="new-email" name="new-email" class="form-control" placeholder="ads@exemplo.com" required>
                </div>
                <div class="form-group">
                    <label for="new-password" style="margin-top: 0.5rem;">Nova Senha</label>
                    <input type="password" id="new-password" name="new-password" class="form-control" placeholder="Nova Senha" required>
                </div>
                <button type="submit" class="btn btn-primary btn-submit btn-block">Mudar Senha</button>
            </form>
            <button class="btn btn-link back-btn" onclick="window.location.href='/views/login.html'">Voltar</button>
        </div>
    </div>

    <script>
        function changePassword(event) {
            event.preventDefault();
            const name = document.getElementById('name').value;
            const email = document.getElementById('new-email').value;
            const newPassword = document.getElementById('new-password').value;

            // Aqui você pode adicionar a lógica para mudar a senha
            alert('Senha alterada com sucesso para ' + name);
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
